{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4">My Webpages</h2>
    {% if pages %}
        <div class="list-group">
            {% for page in pages %}
                <a href="{% url 'page_builder_app_create_page:render_webpage' page.id %}" 
                   class="list-group-item list-group-item-action">
                    {{ page.title }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't created any webpages yet.</p>
    {% endif %}
    <a href="{% url 'page_builder_app_create_page:builder_home' %}" class="btn btn-primary mt-3">Create New Page</a>
</div>
{% endblock %}
