/* password_change_form.css */
.password_change_form.card {
  max-width: 560px;
  width: 100%;
}
.password_change_form img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.password_change_form.toggle-password {
  cursor: pointer;
}
